div{
    background-color: aqua;
    width: 100px;
    height: 100px;
    border: solid 3px blue;
    border-radius: 50%;
    font-size: 100%;
    text-align: center;
    position: relative;
    animation-name:box ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function:linear ;
    animation-fill-mode: none;
}

@keyframes box {
   from {
    transform:rotateX(360deg);
   }
   to {
transform: translate(1200px);
   }
}
/* @keyframes box {
    0% {
      top: 0px;
      left: 0px;
    }
    50% {
      top: 500px;
      left: 600px;
    }
    
    100% {
      top: 0px;
      left: 1200px;
    }
  } */
  /* @keyframes box {
    from {
        top:0px;
        left: 0px;
    }
    to {
        top: 500px;
        left: 500px;
    }
  } */